<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">MIZA</a></li>
                    <li class="breadcrumb-item active">Products</li>
                </ol>
            </div>
            <h4 class="page-title">Products List</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card-box ">
            <div class="row">
                <div class="col-sm-9">
                    <button class="btn btn-default btn-md waves-effect waves-light m-b-30 m-l-5">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>
                <div class="col-sm-3">
                    <form role="form">
                        <div class="form-group contact-search">
                            <input type="text" id="search" class="form-control" name="searchString"
                                [(ngModel)]="searchString"
                                placeholder="Search...">
                            <button type="submit" class="btn btn-white"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row" *ngIf="dataLoader">
                <miza-loader class="col-xl-12 text-center m-t-10 m-b-10"></miza-loader>
            </div>
            <div class="card-box" *ngIf="!dataLoader && products.length==0">
                <div class="row text-center">
                    <div class="col-xl-12 text-center">
                        <h5>No data stored in the database</h5>
                    </div>
                </div>
            </div>
            <div class="table-responsive" *ngIf="!dataLoader && products.length>0">
                <table class="table table-hover mails m-0 table table-actions-bar" [mfData]="products" #mf="mfDataTable"
                    [mfRowsOnPage]="5">
                    <thead>
                        <tr>
                            <th>
                                <mfDefaultSorter by="id">#</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="name">Name</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="price">Price</mfDefaultSorter>
                            </th>
                           
                            <th>
                                <mfDefaultSorter>Action</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of mf.data | filter : 'name' : searchString">
                            <td class="text-capitalize">{{product.id}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.price}}</td>
                             
                            <td>
                                <a class="table-action-btn" tooltip="Edit" placement="top">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <a class="table-action-btn" tooltip="Delete" placement="top">
                                    <i class="fa fa-close"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="12">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Comment</label>
        <textarea class="form-control" type="textarea" id="message" name="message" placeholder="Message" ></textarea>
      </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>