<div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
        <div class="text-center">
            <!-- <a routerLink="/" class="logo">
                <i class="icon-magnet icon-c-logo"></i>
                <span>METR</span>
            </a> -->
            <!-- Image Logo here -->
            <a routerLink="/" class="logo">
                <i class="icon-c-logo"> 
                </i>
                <span>
                    MIZA
                </span>
            </a>
        </div>
    </div>

    <!-- Button mobile view to collapse sidebar menu -->
    <nav class="navbar-custom">

        <ul class="list-inline float-right mb-0">
            <li class="list-inline-item dropdown notification-list">
                <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" 
                    data-toggle="dropdown" 
                    href="#"
                    role="button"
                    (click)="displayAlertMenu=!displayAlertMenu"
                    aria-haspopup="false" 
                    aria-expanded="false">
                    <i class="dripicons-bell noti-icon"></i>
                    <span class="badge badge-pink noti-icon-badge">4</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-xl"
                    [class.show]="displayAlertMenu" 
                    aria-labelledby="Preview">
                    <!-- item-->
                    <div class="dropdown-item noti-title">
                        <h5>Notification</h5>
                    </div>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon bg-purple"><i class="wi wi-barometer"></i></div>
                        <p class="notify-details">
                            Message from customer A
                            <small class="text-muted">1 min ago</small>
                        </p>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon bg-info"><i class="far fa-envelope"></i></div>
                        <p class="notify-details">
                            Message from customer B
                            <small class="text-muted">1 min ago</small>
                        </p>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon bg-danger"><i class="fab fa-500px"></i></div>
                        <p class="notify-details">
                            Message from customer C
                            <small class="text-muted">1 min ago</small>
                        </p>
                    </a>

                    <!-- All-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item notify-all">
                        View All
                    </a>

                </div>
            </li>

            <li class="list-inline-item notification-list">
                <a class="nav-link waves-light waves-effect" href="#" id="btn-fullscreen">
                    <i class="dripicons-expand noti-icon"></i>
                </a>
            </li>

            <li class="list-inline-item dropdown notification-list">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" 
                    data-toggle="dropdown"  
                    href="#"
                    (click)="displayUserMenu=!displayUserMenu"
                    role="button" 
                    aria-haspopup="false" 
                    aria-expanded="false">
                    <img src="assets/images/avatar.png" alt="user" class="rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown" 
                    [class.show]="displayUserMenu"
                    aria-labelledby="Preview">
                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="md md-settings"></i> <span>Settings</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="md md-lock-open"></i> <span>Lock Screen</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="md md-settings-power"></i> <span>Logout</span>
                    </a>

                </div>
            </li>

        </ul>

        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left waves-light waves-effect"
                    (click)="toggleMenu()">
                    <i class="ti fa-lg ti-menu"></i>
                </button>
            </li>
            <li class="hide-phone app-search">
                <form role="search" class="">
                    <input type="text" placeholder="Search..." class="form-control">
                    <a href=""><i class="fa fa-search"></i></a>
                </form>
            </li>
        </ul>

    </nav>

</div>